@charset "UTF-8";

@media screen and (min-width: 768px){
    span#mburguer{border: 1px solid black;}
    #mburguer{display: none;}
    #area-menu  ul{
        display:none;
        border: 1px solid red;
    }
    menu > ul{
        display: flex;
        justify-content: center;
    }
    ul li{
       flex-direction: row;
       align-self: center;
       padding-left: 15px;
    }
  #area-principal{width:800px;
  border: 1px solid palevioletred;}
  #area-postagens{width:600px;
  border: 1px solid red;}
  #area-lateral{width:200px;}

}
@media screen and (max-width: 768px){

    #area-lateral{display: none;}

    
}
