@charset "UTF-8";

@media screen and (min-width: 768px){
    
    body{
        
    }
    #mburguer{display: none;} 
    menu > ul{
        display: flex;
        justify-content: center;
    }
    ul li{
       flex-direction: row;
       align-self: center;
       padding-left: 15px;
    }
    main{
        width: 768px;
    }

}

