@charset "UTF-8";

@media screen and (min-width: 768px){

    #mburguer{display:block;}
    menu{
        display:none;
    } 
    menu > ul{
        display:block;
        justify-content: center;
    }
    ul li{
       flex-direction: row;
       align-self: center;
       padding-left: 15px;
    }
    main{
        width: 768px;
    }

}
@media screen and (min-width: 992px){

    #mburguer{display:none;}
    menu{
        display:block;
    } 
    menu > ul{
        display:flex;
        justify-content: center;
    }
    ul li{
       flex-direction: row;
       align-self: center;
       padding-left: 15px;
    }
 

}


